@model ManagerModel

<!DOCTYPE html>

<table class="table">
    <thead>
    <tr>
        <th scope="col">From</th>
        <th scope="col">Client Id</th>
        <th scope="col">Client Email</th>
        <th scope="col">Client Bill Id</th>
        <th scope="col">To</th>
        <th scope="col">Client Id</th>
        <th scope="col">Client Email</th>
        <th scope="col">Client Bill Id</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in @Model.OperatorModel.TransferModels)
    {
        <tr>
            <th scope="row"></th>
            <td>@item.FromWhoId</td>
            <td>@item.FromWho</td>
            <td>@item.FromBillId</td>
            <th scope="row"></th>
            <td>@item.ToWhoId</td>
            <td>@item.ToWho</td>
            <td>@item.ToBillId</td>
            <td>
                <form asp-controller="Operator" asp-action="UndoTransfer" asp-route-transferId="@item.TransferId" method="post">
                    <button>Undo</button>
                </form>
            </td>
        </tr>
    }


    </tbody>
</table>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Email</th>
        <th scope="col">Passport</th>
        <th scope="col">Phone</th>
        <th scope="col">Factory name</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in @Model.OperatorModel.RequestMoniesModels)
    {
        <tr>
            
            <td>@item.RequestMoney.Client.Email</td>
            <td>@item.RequestMoney.Client.SeriesAndPassportNumber</td>
            <td>@item.RequestMoney.Client.PhoneNumber</td>
            <td>@item.Factory.Name</td>
            <td>
                <form asp-controller="Operator" asp-action="Ok" asp-route-id="@item.RequestMoney.Id" method="post">
                    <button>Ok</button>
                </form>
            </td>
        </tr>
    }


    </tbody>
</table>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Bill Id</th>
        <th scope="col">Bank Name</th>
        <th scope="col">Money</th>
        <th scope="col">%</th>
        <th scope="col">Start Time</th>
        <th scope="col">End Time</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in @Model.CreditDisplayModels)
    {
        <tr>
            <th scope="row">1</th>
            <td>@item.BillId</td>
            <td>@item.BankName</td>
            <td>@item.Money</td>
            <td>@item.Procent</td>
            <td>@item.StartTime</td>
            <td>@item.EndTime</td>
            <td>
                <form asp-action="Approve" asp-controller="Manager" asp-route-creditId="@item.Id" method="post">
                    <button class="btn" >Approve</button>
                </form>
            </td>
        </tr>
    }
    
    
    </tbody>
</table>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Email</th>
        <th scope="col">Identification Number</th>
        <th scope="col">Series And Passport Number</th>
        <th scope="col">Phone Number</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in @Model.UserModels)
    {
        <tr>
            <th scope="row">1</th>
            <td>@item.Email</td>
            <td>@item.IdentificationNumber</td>
            <td>@item.SeriesAndPassportNumber</td>
            <td>@item.PhoneNumber</td>
            <td>
                <form asp-action="ApproveClient" asp-controller="Manager" asp-route-email="@item.Email" method="post">
                    <button class="btn" >Approve client registration</button>
                </form>
            </td>
        </tr>
    }
    
    
    </tbody>
</table>